{% extends 'base.html' %}
{% block tab_title %}Pets-<span class="reverse">R</span>-Us{% endblock %}
{% block static_path %}../{% endblock %}
{% block page_sytle %}{% endblock %}
{% block home_path %}../{% endblock %}
{% block nav_items %}{% endblock %}
{% block header %}Pets-<span class="reverse">R</span>-Us{% endblock %}

{% block content %}
  <div class="container">
    {% if any_pets_avail %}
      <div class="row">
        <h2 class="text-center text-success"><b>We have pets available for adoption!</b></h2>
      </div>
    {% endif %}
    <div class="row">
      <h3 class="text-center pb-2 text-info">click on any pet for more information</h3>
    </div>
    <div class="row justify-content-around">
      <div class="col col-md-6 col-lg-4 text-center pb-4">
        <a href="/add" class="btn btn-info btn-lg">Add a New Pet</a>
      </div>
    </div>
    <div class="container">
      {% for pet_list in pets %}
        <div class="row justify-content-around pt-5">
          {% for pet in pet_list %}
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
            <a href="/{{ pet.id }}" class="card bg-dark text-light">
              <div class="card-body">
                {% if pet.photo_url %}
                <img src="{{ pet.photo_url }}" alt="{{ pet.name }} photo" class="card-img-top image-fluid">
                {% endif %}
                <p class="card-text">
                  <h4 class="text-center">{{ pet.name }}</h4>
                  {% if pet.is_available %}
                  <h3 class="text-success happy-font border-success rounded text-center"><b>AVAILBLE!</b></h3>
                  {% else %}
                  <h5 class="text-muted text-center">unavailable</h5>
                  {% endif %}
                </p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts_before %}{% endblock %}
{% block scripts_path %}../{% endblock %}
{% block scripts_after %}{% endblock %}
